@import "tailwindcss";

@font-face {
  font-family: "Heavy";
  src: url("/src/assets/fonts/Mont-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("/src/assets/fonts/Mont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "semiBold";
  src: url("/src/assets/fonts/Mont-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Black";
  src: url("/src/assets/fonts/Mont-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: url("/src/assets/fonts/Mont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: url("/src/assets/fonts/Mont-Light.ttf") format("truetype");
}

@font-face {
  font-family: "PublicSans";
  src: url("/src/assets/fonts/PublicSans-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "PublicSans";
  font-weight: 300;
  src: url("/src/assets/fonts/PublicSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "PublicSans-Regular";
  font-weight: 400;
  src: url("/src/assets/fonts/PublicSans-Regular.ttf") format("truetype");
}

@theme {
  --font-mont-heavy: "Heavy", sans-serif;
  --font-mont-bold: "Bold", sans-serif;
  --font-mont-black: "Black", sans-serif;
  --font-mont-regular: "Regular", sans-serif;
  --font-mont-semibold: "semiBold", sans-serif;
  --font-mont-light: "Light", sans-serif;
  --font-public-sans: "PublicSans", sans-serif;
  --font-public-sans-light: "PublicSans-Light", sans-serif;
  --font-public-sans-regular: "PublicSans-Regular", sans-serif;
  --font-public-sans-medium: "PublicSans-Medium", sans-serif;
  --font-public-sans-semibold: "PublicSans-SemiBold", sans-serif;
  --font-public-sans-bold: "PublicSans-Bold", sans-serif;
  --font-public-sans-black: "PublicSans-Black", sans-serif;

  --color-primary: #2628d8;
  --color-secondary: #d3de4e;
  --color-tertiary: #00213f;
  --color-quaternary: #9391ad;
  --color-background: #f0f2f2;
  --color-background-dark: #1e1f2a;
}

@layer base {
  body {
    background-color: #2628d8;
    background-image: url("/src/assets/backgrounds/background-blue.png");
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: multiply;
  }
}

/* Componentes personalizados */
@layer components {
  .bg-noise-white {
    background-color: #f0f2f2;
    background-image: url("/src/assets/backgrounds/background-white.png");
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: multiply;
  }

  .bg-noise-blue {
    background-color: #2628d8;
    background-image: url("/src/assets/backgrounds/background-blue.png");
    background-repeat: repeat;
    background-size: auto;
    background-blend-mode: multiply;
  }

  .btn {
    @apply lg:px-6 lg:py-4 py-3 md:py-3 px-5 uppercase transition-colors cursor-pointer font-mont-bold leading-none text-xs md:text-sm lg:text-base inline-flex items-center justify-center w-fit;
  }

  .btn-primary {
    @apply bg-primary text-white;
  }

  .btn-primary:hover {
    @apply bg-secondary text-tertiary;
  }

  .btn-secondary {
    @apply bg-secondary  text-tertiary;
  }

  .btn-secondary:hover {
    @apply bg-white text-tertiary;
  }

  .btn-tertiary {
    @apply bg-white text-tertiary;
  }

  .btn-tertiary:hover {
    @apply bg-secondary text-tertiary;
  }

  .btn:active {
    @apply shadow-none;
  }
  .label-home {
    @apply lg:text-base md:text-sm text-xs font-mont-regular border-2 border-black md:py-2 py-1 rounded-full md:w-40 lg:w-45 w-30 text-center;
  }
  .form-label {
    @apply font-mont-light text-tertiary mb-2;
  }
  .form-input {
    @apply bg-white rounded-lg px-4 py-2 w-full text-tertiary font-mont-regular focus:outline-none lg:placeholder:text-base placeholder:text-sm;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
